*{
  font-family: Monospace, sans serif;
}

h3{
text-align: center;
}
.item-list{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.favorite-icon{
  border: none;
  background: none;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  font-size: 20px;
  margin-left: 0.5rem;
}

li{
  border: 1px solid #f4f4f4;
  border-radius: 10px;
  width: 200px;
  background-color: #f4f4f4;
  margin-top: 10px;
  gap: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filled{
  color: red;
}
