body{
  background-color: lightblue;
  font-family: Arial
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.form-container{
    background-color: whitesmoke;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  margin: auto;
}
label{
  margin: 5px;
  color: grey;
}
input, textarea{
  width: 300px;
  padding: 5px;
  margin-bottom: 5px;
}
button{
  margin: 10px;
  background-color: lightgreen;
  border: none;
  padding: 8px;
  border-radius: 5px;
  font-size: 15px;
}
button:hover{
  background-color: green;
}