body{
  margin: 0;
  font-family: Arial, sans serif;
  color: #3b3938;
  
}
#navbar{
  width: 280px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: scroll;
  border-right: 2px solid gray;
  color: gray;
}
.main-section{
  margin-left: 300px;
}
#navbar header{
  font-weight: normal;
  font-size: 25px;
  text-align: center;
  color: #191919;
}
header{
  font-size: 25px;
  color: #191919;
}
.nav-link{
  text-decoration: none;
  color: #3b3938;
  padding: 15px;
}
@media (max-width: 768px){
  #navbar{
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: auto;
    border: none;
  }
  .main-section{
    margin: auto 5px;
  }
}
