*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
}
body{
    padding-top: 100px;
    background-color: #ffffff;
    overflow: scroll;
}
#nav-bar{
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
#nav-link{
    text-decoration: none;
    margin: 19px;
    color: #3f3f3e;
    text-align: center;
}
#home{
    text-align: center;
    margin: 10px;
    margin-top: 20px;
}
#form{
    margin: 10px;
    margin-bottom: 100px;
}
#submit{
    background-color: darkorange;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}
#Pricing{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}
#about{
    width: 250px;
    height: 300px;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
}
.price_header{
    background-color: rgb(215, 217, 217);
    padding: 10px;
    border-radius: 5px 5px 0 0;
}
#Pricing p{
    margin: 0 0 15px 0;
}
.cash{
    font-weight: bold;
    font-size: large;
}
#about{
    position: relative;
    margin-bottom: 20px;
}
#about button{
    bottom: 5%;
    left: 30%;
    position: absolute;
    background-color: darkorange;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
#about button:hover{
    background-color: rgb(206, 67, 67);
}
footer{
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}
footer p{
    margin: 10px
}
#logo-image{
    height: 50px;
    width: auto;
}
#Features{
    margin: 0 auto;
    margin-left: 20px;
    text-align: center;
}
.feature-paragraph{
    margin: 40px 0;
}

#How_it_works{
    align-items: center;
    text-align: center;
    margin: 50px;
    cursor: pointer;
}
#email{
    width: 200px;
    margin-bottom: 20px;
    height: 30px;
}
footer a{
    text-decoration: none;
    color: #3f3f3e;
}

@media only screen and (max-width: 768px){
    #logo-image{
        max-width: 250px;
        height: auto;
        order: 1;
    }
    #nav-links{
        display: flex;
        flex-direction: column;
        order: 2;
    }
    #nav-bar{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        }
    #nav-link{
        margin: 2px;
    }
    body{
        padding-top: 150px;
    }
    #Features{
        text-align: center;
        margin: 0 auto;
    }
    iframe{
        max-width: 100%;
        text-align: center;
        margin: auto;
        border-radius: 5px;
    }  
}
