#email{
  padding: 50px;
  margin: 50px;
  border: 2px solid black;
  width: 500px;
  background-color: #c1c1b6;
  position: relative;
  box-sizing: border-box;
}
#confidential{
  display: inline-block;
  padding: 5px;
  margin-left: 5px;
  border: 5px solid red;
  font-weight: bold;
  color: red;
  font-size: 25px;
  position: absolute;
  top: 20px;
  right: 100px;
  transform: rotate(-10deg)
}
#top-secret{
  display: inline-block;
  padding: 5px;
  margin-left: 5px;
  border: 5px solid red;
  font-weight: bold;
  color: red;
  font-size: 25px;
  position: absolute;
  bottom: 20px;
  right: 150px;
  transform: rotate(10deg)
}
.blurred{
  filter: blur(3px);
}