body{
  background-color: #f4f4f4;
  text-align: center;
  
}
.color-grid{
  display: flex;
  gap: 5px;
  margin-left: auto;
  margin-right: auto;
}
.color-box{
  width: 100px;
  height: 100px;
}
.color1{
  background-color: #699B;
  border-radius: 8px;
}
.color2{
  background-color: rgb(51,51,51);
  border-radius: 8px;
}
.color3{
  background-color: gray;
  border-radius: 8px;
}
.color4{
  background-color: hsl(300, 76%, 50%);
  border-radius: 8px;
}
.color5{
  background-color: lightblue;
  border-radius: 8px;
}