#playing-cards{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #d3bcd5;
  padding: 5px;
  justify-content: center;
}

.card{
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  width: 170px;
  height: 250px;
  border-radius: 10px;
  border: 1px solid black;
  padding: 5px;
}
.left{
    font-weight: bold;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.middle{
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 50px;
  align-self: center;
  flex-direction: column;
}
.right{
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  font-size: 30px;
  
}
.right span{
  transform: rotate(180deg)
}